html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0a0a12;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    /* Canvas will be sized by JavaScript */
    position: relative;
    z-index: 10;
}

#fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    pointer-events: none;
}